##################################################
# Stack artifacts
.stack-work/
stack.yaml.lock

##################################################
# Cabal artifacts
Troupe-compiler.cabal
dist
dist-*
cabal-dev

##################################################
# Local compilation output
ir2raw-out
